@layer theme, base, antd, components, utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #3f80ae;
  --color-success: #10b981;
  --color-error: #ef4444;
  --color-warning: #f59e0b;
  --color-info: #0ea5e9;
  --color-light: #f0f0f0;

  /* Fonts Colors */
  --color-header: #2d3643;
  --color-text: #455468;

  /* Fonts */
  --font-primary: "Roboto", sans-serif;
}

@utility container {
  @apply mx-auto px-4;

  @media (width >= --theme-screens-xl) {
    @apply px-6;
  }
}
