@layer theme, base, antd, components, utilities;
@import "tailwindcss";

@theme {
  --color-primary: #ef4444;
  --color-success: #10b981;
  --color-error: #ef4444;
  --color-warning: #f59e0b;
  --color-info: #0ea5e9;
}
